---
import Layout from '@/layouts/Layout.astro';
import background from '@/assets/background.jpg';
import WorkExperienceSection from '@/components/section/WorkExperienceSection.astro';
import { workExperiences } from '@/common/data/work-experiences';
import sites from '@/common/data/sites';
import PostSection from '@/components/section/PostSection.astro';
import ProjectSection from '@/components/section/ProjectSection.astro';
import { getCollection } from 'astro:content';

const allProjects = await getCollection(
    'projects',
    ({ data }) => data.type === 'personal',
);
const sortedPersonalProjects = allProjects.sort((a, b) =>
    a.data.date > b.data.date ? -1 : 1,
);

const posts = await getCollection('posts', ({ data }) => !data.draft);
const sortedPosts = posts.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
---

<Layout seo={{}}>
    <main class="max-w-4xl mx-auto h-full my-16 px-4">
        <section class="grid grid-cols-12 gap-4 items-center">
            <div
                class="col-span-12 md:col-span-9 flex flex-col gap-3 order-2 md:order-1"
            >
            <div class="flex gap-1">
                <h1 class="font-bold text-2xl text-[#0C3F33] tracking-wider">
                    Ciao 👋, I'm Dikhi Achmad 
                </h1>
                <div class="relative px-2 text-sm/6 text-[#0C3F33]">
                    <span
                        class="absolute inset-0 border border-dashed border-[#0C3F33]/60 bg-[#0C3F33]/10 group-hover:bg-[#0C3F33]/15"
                    > </span>
                    <h1 class="font-bold text-2xl text-[#0C3F33] tracking-wider">
                        Dani
                    </h1>
                    <svg
                        width="5"
                        height="5"
                        viewBox="0 0 5 5"
                        class="absolute top-[-2px] left-[-2px] fill-[#0C3F33]"
                    >
                        <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
                    </svg>
                    <svg
                        width="5"
                        height="5"
                        viewBox="0 0 5 5"
                        class="absolute top-[-2px] right-[-2px] fill-[#0C3F33]"
                    >
                        <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
                    </svg>
                    <svg
                        width="5"
                        height="5"
                        viewBox="0 0 5 5"
                        class="absolute bottom-[-2px] left-[-2px] fill-[#0C3F33]"
                    >
                        <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
                    </svg>
                    <svg
                        width="5"
                        height="5"
                        viewBox="0 0 5 5"
                        class="absolute bottom-[-2px] right-[-2px] fill-[#0C3F33]"
                    >
                        <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
                    </svg>
                </div>
            </div>
                <p>
                    Ordinary civilians who are still learning how to code
                    correctly and efficiently ✨. I am currently open to
                    learning anything, especially as a Fullstack Engineer.
                </p>
                <div class="flex gap-2">
                    <a
                        href={`mailto:${sites.email}`}
                        class="border-[1px] border-[#0C3F33] text-[#0C3F33] rounded-md h-7 w-7 flex justify-center items-center"
                        ><span class="icon-[iconoir--mail-in]"></span></a
                    >
                    <a
                        href={sites.github}
                        class="border-[1px] border-[#0C3F33] text-[#0C3F33] rounded-md h-7 w-7 flex justify-center items-center"
                        ><span class="icon-[line-md--github]"></span></a
                    >
                    <a
                        href={sites.linkedin}
                        class="border-[1px] border-[#0C3F33] text-[#0C3F33] rounded-md h-7 w-7 flex justify-center items-center"
                        ><span class="icon-[mdi--linkedin]"></span></a
                    >
                </div>
            </div>
            <div
                class="col-span-12 md:col-span-3 flex md:justify-end order-1 md:order-2"
            >
                <div
                    class="relative z-0 w-32 h-32 rounded-full overflow-hidden"
                >
                    <img
                        class="absolute w-full h-full object-cover"
                        src={'/assets/logo.svg'}
                        alt=""
                    />
                </div>
            </div>
        </section>
        <div class="relative mt-3 mb-2 h-4 text-sm/6 text-[#0C3F33]">
            <span
                class="absolute  inset-0 border border-dashed border-[#0C3F33]/60 bg-[#0C3F33]/10 group-hover:bg-[#0C3F33]/15"
            > </span>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute top-[-2px] left-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute top-[-2px] right-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute bottom-[-2px] left-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute bottom-[-2px] right-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
            </svg>
        </div>
        <WorkExperienceSection workExperiences={workExperiences} />
        <div class="relative mt-3 mb-2 h-4 text-sm/6 text-[#0C3F33]">
            <span
                class="absolute  inset-0 border border-dashed border-[#0C3F33]/60 bg-[#0C3F33]/10 group-hover:bg-[#0C3F33]/15"
            > </span>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute top-[-2px] left-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute top-[-2px] right-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute bottom-[-2px] left-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute bottom-[-2px] right-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
            </svg>
        </div>
        <ProjectSection
            projects={sortedPersonalProjects}
            seeMoreUrl="/projects"
        />
        <div class="relative mt-3 mb-2 h-4 text-sm/6 text-[#0C3F33]">
            <span
                class="absolute  inset-0 border border-dashed border-[#0C3F33]/60 bg-[#0C3F33]/10 group-hover:bg-[#0C3F33]/15"
            > </span>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute top-[-2px] left-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute top-[-2px] right-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z"></path>
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute bottom-[-2px] left-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
            </svg>
            <svg
                width="5"
                height="5"
                viewBox="0 0 5 5"
                class="absolute bottom-[-2px] right-[-2px] fill-[#0C3F33]"
            >
                <path d="M2 0h1v2h2v1h-2v2h-1v-2h-2v-1h2z" />
            </svg>
        </div>
        <PostSection posts={sortedPosts} />
    </main>
</Layout>
