---
import sites from '@/common/data/sites';
import type { PostMeta } from '@/domain/post';
import Layout from './Layout.astro';
import BackButton from '@/components/BackButton.astro';

export type Props = {
	frontmatter: PostMeta;
	slug: string;
};

const { frontmatter, slug }: Props = Astro.props;

const commentOptions = {
	src: "https://giscus.app/client.js",
	"data-repo": "dikhiachmaddani/dikhiachmaddani-lite",
	"data-repo-id": "R_kgDOPQMRNA",
	"data-category": "General",
	"data-category-id": "DIC_kwDOPQMRNM4Ctf3D",
	"data-mapping": "pathname",
	"data-strict": "0",
	"data-reactions-enabled": "1",
	"data-emit-metadata": "0",
	"data-input-position": "bottom",
	"data-lang": "en",
	crossorigin: "anonymous",
	async: true,
};

const ogImageParams = new URLSearchParams({
	title: frontmatter.title,
	date: frontmatter.date.toISOString(),
	tags: frontmatter.tags.join(','),
	description: frontmatter.description,
});
---

<style>
	:global(div[data-rehype-pretty-code-fragment]) {
		background-color: #0d1117;
		border-radius: 0.5rem;
	}
</style>

<Layout
	seo={{
		isPost: true,
		title: frontmatter.title,
		description: frontmatter.description,
		keywords: frontmatter.tags,
		thumbnail: `${sites.siteUrl}/api/og-image?${ogImageParams.toString()}`,
		publishedAt: frontmatter.date.toLocaleDateString('en-US', {
			weekday: 'long',
			day: 'numeric',
			month: 'long',
			year: 'numeric',
		}),
	}}
>
	<main class="max-w-3xl mx-auto h-full my-20 px-4">
		<BackButton />

		<a
			class="block text-center underline hover:text-[#0C3F33] text-sm text-[#0C3F33]/70 mb-2"
			href={`https://github.com/dikhiachmaddani/dikhiachmaddani-lite/blob/master/src/content/posts/${slug}.mdx`}
			target="_blank"
			rel="norel noreferrer"
		>
			Suggest An Edit
		</a>
		<h1
			class="text-center font-serif text-3xl uppercase font-semibold text-[#0C3F33]"
		>
			{frontmatter.title}
		</h1>
		<div
			class="flex flex-row justify-center md:items-center gap-2 font-serif text-sm md:text-base md:leading-loose text-[#0C3F33]/70"
		>
			Posted on
			<span class="text-[#0C3F33] font-medium">
				{
					new Date(frontmatter.date).toLocaleDateString('en-GB', {
						weekday: 'long',
						day: 'numeric',
						month: 'long',
						year: 'numeric',
					})
				}
			</span>
			
		</div>
		
		<div
			class="justify-center flex gap-2"
		>
			{
				frontmatter.tags.map((tag) => (
					<span class="font-mono text-[#0C3F33]/80 text-sm font-medium">
						#{tag}
					</span>
				))
			}
		</div>
		<div
			class="flex gap-2 justify-center py-4 mb-8 border-b border-dashed border-[#0C3F33]"
		>
			<a
				class="text-center underline hover:text-[#0C3F33] text-sm text-[#0C3F33]/70 mb-2"
				href={frontmatter.source}
				target="_blank"
				rel="norel noreferrer"
			>
				Source Code
			</a>
			{
				frontmatter.demo !== null && (
					<a
						class="text-center underline hover:text-[#0C3F33] text-sm text-[#0C3F33]/70 mb-2"
						href={frontmatter.demo}
						target="_blank"
						rel="norel noreferrer"
					>
						Live Demo
					</a>
				)
			}
		</div>
		<main class="prose">
			<slot />
			<div>
				<script is:inline {...commentOptions} data-theme="light"></script>
			</div>
			<p class="mt-4! text-center text-sm text-[#0C3F33]/70">
				If you don't see any comment section, please turn off your adblocker :)
			</p>
		</main>
	</main>
</Layout>
