---
import siteData from '@/common/data/sites';
import type { ProjectMeta } from '@/domain/project';
import Layout from './Layout.astro';
import BackButton from '@/components/BackButton.astro';

export type Props = {
	frontmatter: ProjectMeta;
	slug: string;
};
const { frontmatter, slug } = Astro.props as Props;
---

<Layout
	seo={{
		title: frontmatter.title,
		description: frontmatter.description,
		thumbnail: `${siteData.siteUrl}/${slug}/cover.webp`,
	}}
>
	<main class="max-w-3xl mx-auto h-full my-22 px-4">
		<BackButton />

		<h1
			class="text-center text-3xl uppercase font-semibold text-[#0C3F33]"
		>
			{frontmatter.title}
		</h1>
		<div class="justify-center flex gap-2">
			{
				frontmatter.stack.map(([stackName, stackHomepage]) => (
					<a
						href={stackHomepage}
						class="font-mono text-[#0C3F33]/80 text-sm font-medium no-underline hover:underline hover:text-[#0C3F33]"
						target="_blank"
						rel="norel noreferrer"
					>
						#{stackName}
					</a>
				))
			}
		</div>

		<div
			class="flex gap-2 justify-center py-4 mb-8 border-b border-dashed border-[#0C3F33]"
		>
			<a
				class="text-center underline hover:text-[#0C3F33] text-sm text-[#0C3F33]/70 mb-2"
				href={frontmatter.source}
				target="_blank"
				rel="norel noreferrer"
			>
				Source Code
			</a>
			{
				frontmatter.demo !== null && (
					<a
						class="text-center underline hover:text-[#0C3F33] text-sm text-[#0C3F33]/70 mb-2"
						href={frontmatter.demo}
						target="_blank"
						rel="norel noreferrer"
					>
						Live Demo
					</a>
				)
			}
		</div>
		<div class="overflow-hidden">
			{
				frontmatter.hasImage ? (
					<img
						src={`/assets/projects/${slug}/cover.webp`}
						alt={frontmatter.title}
						class="block w-full h-full bg-[#0C3F33]"
						loading="lazy"
					/>
				) : null
			}
		</div>

		<main
			class="prose prose-lg pt-4 mt-8 border-t border-dashed border-[#0C3F33]"
		>
			<slot />
		</main>
	</main>
</Layout>
